In [28]:
from utils import frame

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [29]:
tweets = frame.read_tweets('DatasetMaFe')
tweets.head()

  category                                               text tweet_id
0     MALE                       Ara és l'hora! A votar! #27s      164
1     MALE  #27STV3 Em sembla que Catalunya ha fet un CUP ...     3296
2     MALE  Ara volen contar vots?? Que comencin pel vot e...       39
3     MALE  #cataluña (1) Mas no ha encontrado esa 'mayorí...     6753
4     MALE  DE PEN DE PEN DEN CÍA!!!!!!! Gritos de Junts p...     5135

### Control Category Distribution

In [30]:
frame.percentage_by_category(tweets)

{'FEMALE': 0.5003525264394829, 'MALE': 0.49964747356051703}

### Grid Subsampling

In [33]:
fractions = [0.1, 0.2, 0.3, 0.4]
replicas = 3

subsamples = frame.grid_subsamples(tweets, fractions, replicas)
subsamples

      FEMALE      MALE  fraction
0   0.512338  0.487662       0.1
1   0.505288  0.494712       0.1
2   0.479436  0.520564       0.1
3   0.523502  0.476498       0.2
4   0.481199  0.518801       0.2
5   0.470035  0.529965       0.2
6   0.507246  0.492754       0.3
7   0.496279  0.503721       0.3
8   0.496279  0.503721       0.3
9   0.502938  0.497062       0.4
10  0.508519  0.491481       0.4
11  0.497356  0.502644       0.4

In [34]:
subsamples.describe()

          FEMALE       MALE   fraction
count  12.000000  12.000000  12.000000
mean    0.498368   0.501632   0.250000
std     0.015205   0.015205   0.116775
min     0.470035   0.476498   0.100000
25%     0.492509   0.492435   0.175000
50%     0.500147   0.499853   0.250000
75%     0.507565   0.507491   0.325000
max     0.523502   0.529965   0.400000