In [1]:
from utils import frame

%load_ext autoreload
%autoreload 2

In [2]:
tweets = frame.read_tweets('DatasetCatSpa')
tweets.head()

  category                                               text tweet_id
0      CAT  Gallina de piel. Emocionada. #SomLaHistoria #2...     1395
1      CAT  Bon dia, aquest #Diumenge és molt millor que q...     2931
2      SPA  #27s al otro lado de las urnas... https://t.co...     6246
3      CAT  9:03 cua fins la cantonada per votar a Dominiq...     2323
4      CAT  Acabo de rebre les paperetes per anar al Cons ...     2091

### Control Category Distribution

In [3]:
frame.percentage_by_category(tweets)

{'CAT': 0.5004155289089398, 'SPA': 0.4995844710910602}

### Grid Subsampling

In [4]:
fractions = [0.1, 0.2, 0.3, 0.4]
replicas = 3

subsamples = frame.grid_subsamples(tweets, fractions, replicas)
subsamples

         CAT       SPA  fraction
0   0.497625  0.502375       0.1
1   0.478622  0.521378       0.1
2   0.489311  0.510689       0.1
3   0.509199  0.490801       0.2
4   0.506825  0.493175       0.2
5   0.488427  0.511573       0.2
6   0.509695  0.490305       0.3
7   0.494262  0.505738       0.3
8   0.493471  0.506529       0.3
9   0.504007  0.495993       0.4
10  0.500148  0.499852       0.4
11  0.507866  0.492134       0.4

In [5]:
subsamples.describe()

             CAT        SPA   fraction
count  12.000000  12.000000  12.000000
mean    0.498288   0.501712   0.250000
std     0.009790   0.009790   0.116775
min     0.478622   0.490305   0.100000
25%     0.492431   0.492915   0.175000
50%     0.498887   0.501113   0.250000
75%     0.507085   0.507569   0.325000
max     0.509695   0.521378   0.400000