In [1]:
from utils import frame

%load_ext autoreload
%autoreload 2

In [2]:
tweets = frame.read_tweets('DatasetFavCon')
tweets.head()

  category                                               text tweet_id
0  AGAINST  Victoria del sí, o victoria del NO?? Menos del...     5247
1  NEUTRAL  El PP ja no té vot ocult a Catalunya. Sembla s...     4103
2  AGAINST  #27S Que la participación haya subido es buen ...     5468
3    FAVOR  #Catalunya opta per #independència a les urnes...     1797
4  AGAINST  Los que plantean las elecciones del #27S como ...     4886

### Control Category Distribution

In [3]:
frame.percentage_by_category(tweets)

{'NEUTRAL': 0.47264744274356235,
 'FAVOR': 0.3447252877655156,
 'AGAINST': 0.18262726949092203}

### Grid Subsampling

In [4]:
fractions = [0.1, 0.2, 0.3, 0.4]
replicas = 3

subsamples = frame.grid_subsamples(tweets, fractions, replicas)
subsamples

     AGAINST     FAVOR   NEUTRAL  fraction
0   0.204033  0.351127  0.444840       0.1
1   0.156584  0.348754  0.494662       0.1
2   0.188612  0.330961  0.480427       0.1
3   0.180415  0.351929  0.467656       0.2
4   0.195846  0.322849  0.481306       0.2
5   0.195252  0.330564  0.474184       0.2
6   0.168117  0.346519  0.485364       0.3
7   0.176820  0.335839  0.487342       0.3
8   0.170491  0.365902  0.463608       0.3
9   0.188075  0.342628  0.469297       0.4
10  0.188668  0.341145  0.470187       0.4
11  0.185998  0.352418  0.461584       0.4

In [5]:
subsamples.describe()

         AGAINST      FAVOR    NEUTRAL   fraction
count  12.000000  12.000000  12.000000  12.000000
mean    0.183243   0.343386   0.473371   0.250000
std     0.013402   0.011921   0.013529   0.116775
min     0.156584   0.322849   0.444840   0.100000
25%     0.175237   0.334619   0.466644   0.175000
50%     0.187036   0.344574   0.472185   0.250000
75%     0.190314   0.351327   0.482320   0.325000
max     0.204033   0.365902   0.494662   0.400000